- var navCenterItems = ["home", "sofas", "seating", "tables", "sleeping"]
- var navRightItems = ["log in", "about us"]

html
  head
    link(rel="icon" href="assets/favicon.png")
    title Furniture
    link(rel="stylesheet" href="style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header 
      img.logoImg(src="assets/logo4.png")
      .companyName 
        h4 Furniture 
      
      #nav
        ul.nav-center
          each item in navCenterItems
            li 
              a(href="#"+item) #{item}                
        ul.nav-right
          each item in navRightItems
            li 
              a(href= "#" + item.replace(' ','-')) #{item}
          li.nav-menu
            a(href="javascript:void(0);" onclick="dropDownMenu()") &#9776;
            
    .container 
      .home#home
        .row
          .col-6.text
            h1 What is Lorem Ipsum?
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              |Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              |when an unknown printer took a galley of type and scrambled it to make a type 
              |specimen book.
          .col-6.image
            img(src="assets/home-chair1.png")
      .sofas
        .row
      .seating
        .row
      .tables
        .row
      .sleeping
        .row
    
    script(src="app.js")
