- var navCenterItems = ["home", "sofas", "seating", "tables", "sleeping"]
- var navRightItems = ["log in", "about us"]

html
  head
    link(rel="icon" href="assets/favicon.png")
    title Furniture
    link(rel="stylesheet" href="style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header 
      img.logoImg(src="assets/logo4.png")
      .companyName 
        h4 Furniture 
      
      #nav
        ul.nav-center
          each item in navCenterItems
            li 
              a(href="#"+item) #{item}                
        ul.nav-right
          li
            a(href="logIn/index.html") #{navRightItems[0]}
          li 
            a(href= "#" + navRightItems[1].replace(' ','-')) #{navRightItems[1]}
          li.nav-menu
            a(href="javascript:void(0);" onclick="dropDownMenu()") &#9776;
            
    .container 
      .home#home
        .row
          .col-6.text
            h1 Turn your "House" into your "HOME"!
            p We seek to deliver an exceptional blend of products and services
              | to the market that would best serve its needs with the highest 
              |quality and design standards, creating the perfect blend for each customer.
          .col-6.image
            img(src="assets/home-chair1.png")
      
      .furniture#sofas
        .row.title
          .col-12
            h1 Sofas
        .row
          .col-4.futnitureImg
            img(src="assets/sofa1.png")
          .col-4.futnitureImg
            img(src="assets/sofa3.png")
          .col-4.futnitureImg
            img(src="assets/sofa4.png")
        .row.arrow
          .col-12
            h1
              a(href="#") &#8594;              
            h2 view more
      
      .furniture#seating
        .row.title
          .col-12
            h1 Seating
        .row
          .col-4.futnitureImg
            img(src="assets/seat1.png")
          .col-4.futnitureImg
            img(src="assets/seat2.png")
          .col-4.futnitureImg
            img(src="assets/seat3.png")
        .row.arrow
          .col-12
            h1
              a(href="#") &#8594;              
            h2 view more
      
      .furniture#tables
        .row.title
          .col-12
            h1 Tables
        .row
          .col-4.futnitureImg
            img(src="assets/table1.png")
          .col-4.futnitureImg
            img(src="assets/table2.png")
          .col-4.futnitureImg
            img(src="assets/table3.png")
        .row.arrow
          .col-12
            h1
              a(href="#") &#8594;              
            h2 view more
      
      .furniture#sleeping
        .row.title
          .col-12
            h1 Sleeping
        .row
          .col-4.futnitureImg
            img(src="assets/bed2.png")
          .col-4.futnitureImg
            img(src="assets/bed3.png")
          .col-4.futnitureImg
            img(src="assets/bed1.png")
        .row.arrow
          .col-12
            h1
              a(href="#") &#8594;              
            h2 view more
            
      .about#about-us
        .row
          .col-12.company
            h1 About Us
            p Our company is an Egyptian Public limited Company(PLC)
             |  established in 2011, by a highly skilled and 
             |experienced group of Entrepreneurs and businessmen
             |from different backgrounds of Furniture manufacturing
             |, retail, financial consultancy, and real estate.
            br
        .row
          .col-8.company
            h1 Branches
            ul 
              li Egypt
              li Dubai
              li Spain
              li America
              
          .col-4.companyImg
            img(src="assets/company.jpg")
      
    footer 
      .row
        .col-6
          .row
            .col-12
              .row
                .col-2
                  img(src="assets/email.png")
                .col-10
                  h4 companymail@example.com
          .row
            .col-12
              .row
                .col-2
                  img(src="assets/phone1.png")
                .col-10
                  h4 +20 11111111111
        .col-6
          .row
            .col-4
              a(href="#")
                img(src="assets/fb.ico")
            .col-4
              a(href="#")
                img(src="assets/twitter.png")
            .col-4
              a(href="#")
                img(src="assets/insta.png")
    
    script(src="app.js")
