light-color = #ecf8ec
dark-color = #3f613c
darker-color = #153715

// Grid
.row
  display flex
  width 100%
  flex-wrap wrap
  align-items center
  ::after
    display: table
    clear: both

.col-1
  width 8.33%
.col-2
  width 16.67%
.col-3
  width 25%
.col-4
  width 33.33%
.col-5
  width 41.67%
.col-6
  width 50%
.col-7
  width 58.33%
.col-8
  width 66.67%
.col-9
  width 75%
.col-10
  width 83.33%
.col-11
  width 91.67%
.col-12
  width 100%


// Global
*
  margin 0
  padding 0
  box-sizing border-box
  font-family monospace, serif, sans-serif

body
  background-color dark-color


/****************************   Header     ******************************/
header
  background-color darker-color
  width 100%
  //height 80px
  position fixed
  top 0
  //z-index -1
  padding 10px
  color light-color
  ul
    display inline
    padding-top 20px
    li
      display inline
      list-style-type none
      text-align center
      padding 0 20px
      a
        text-decoration none
        color light-color
        font-size 1.1rem
        text-transform uppercase
        &:hover
          color darken(#ecf8ec,30%)


.logoImg
  float left
  border 1px solid transparent
  padding 0 7px 8px
  border-radius 50%
  background-color light-color

.companyName
  float left
  display inline-block
  padding 12px 15px
  h4
    display inline
    font-size 1.8rem
    font-weight 550

ul.nav-center
  float left
  padding-left 120px

.nav-right
  float right

.nav-menu
  display none


/*********************     Container    *********************/
.container
  display block
  padding-top 80px
  padding-bottom 30px
  margin 0 100px
  background-color light-color
  color darker-color
  .text
    padding 10px 0
    padding-left 100px
    h1
      text-align left
      padding-left 20px
      padding-bottom 30px
    p
      text-align left

.container .image img
  padding-top 60px
  display block
  margin auto
  width 70%

/***************   Furniture containers    ******************************/
.furniture
  margin 100px 0
  padding 0 20px

.title
  margin-bottom 40px
  padding 5px 0
  background-color darken(light-color,6%)
  border-radius 20px 20px 0 0
  h1
    text-align center
    font-size 2.5rem

.futnitureImg img
  display block
  width 100%

.arrow
  margin-top 20px
  padding-right 30px
  h1
    text-align right
    float right
    a
      margin-top 10px
      font-size 3rem
      text-decoration none
      color darker-color
      &:hover
        color lighten(darker-color, 50%)

.arrow h2
  text-align right
  float right
  padding-top 16px
  padding-right 10px

/*****************    About   ******************************/
.about
  padding-left 50px
  padding-right 30px
  line-height 1.4rem
  .company
    h1
      line-height 3rem
    ul
      padding-left 30px
  .companyImg img
    width 90%
    border-radius 40px
    display block
    margin auto

/*********************    footer     ******************/
footer
  background-color darker-color
  color light-color
  padding 15px 0
  .col-12
    padding-left 150px
  .col-2 img
    width 60%
    display block
    margin auto

footer .col-6 .col-4 a
  display block
  margin auto
  width 30%
  &:hover
    opacity 0.7
  img
    width 100%

/*******************    Responsive     ***************/
@media screen and (max-width 1222px)
  ul.nav-center
    padding-left 50px


@media screen and (max-width 1133px)
  .logoImg
    width 60px

  .companyName
    padding 15px 15px
    h4
      font-size 1.5rem

  header ul
    padding-top 22px
    li a
      font-size 1rem

  .about
    line-height 1.5rem
    font-size 1.1rem
    .company
      h1
        font-size 1.6rem

@media screen and (max-width 1076px)
  .logoImg
    width 50px

  .companyName
    padding 15px 15px
    h4
      font-size 1.3rem

  header ul
    padding-top 16.5px
    li a
      font-size 0.9rem

  .container .image img
    width 80%


@media screen and (max-width 1028px)
  header ul li
      padding 0 15px

  footer .col-12
    padding-left 80px

@media screen and (max-width 980px)
  ul.nav-center
    padding-left 70px

  .container .text
    padding-top 15px

  .furniture .title h1
    font-size 2.1rem

  .arrow h2
    padding-top 10px
    font-size 1.3rem

  .arrow h1 a
    font-size 2.2rem


@media screen and (max-width 960px)
  header ul li a
    font-size 0.8rem

  .container .text
    padding-top 60px
    h1
      font-size 1.7rem
    p
      font-size 0.9rem

  .about .col-8, .about .col-4
    width 50%

  .about
    line-height 1.6rem

@media screen and (max-width 920px)
  .logoImg
    padding 0 4px 4px

  .nav-center, .nav-right li:not([class="nav-menu"])
    display none

  .nav-menu
    display block
    position fixed
    right 0
    top 25px
    a
      font-size 1.4rem

  .responsive
    display block
    float left
    .nav-center
      width 100%
      background-color #153715
      position fixed
      left 0
      top 70px
      padding-left 62px
      padding-top 0
      li
        text-align left
        a
          font-size 1rem
    .nav-right
      width 100%
      background-color #153715
      position fixed
      left 0
      top 165px
      padding-bottom 10px
      padding-left 62px
      li:not([class="nav-menu"])
        text-align left
        display block
        a
          font-size 1rem
    *
      display block

@media screen and ( max-width 870px )
  .container
    margin 0 50px
    .text
      padding-top 60px
      p
        font-size 1rem

@media screen and ( max-width 800px )
  .container .text
    padding-left 50px

  footer .col-6 .col-4 a
    width 40%

@media screen and ( max-width 720px )
  .container
    margin 0 30px
    .text
      padding-top 60px
      p
        font-size 1rem

    .about
      line-height 1.7rem

  footer
    .col-12
      padding-left 30px
@media screen and ( max-width 670px )
  .container .text
    h1
      font-size 1.6rem
    p
      font-size 0.9rem

@media screen and ( max-width 620px )
  footer .col-6
    padding-right 20px
    .col-4 a
      float right

@media screen and ( max-width 570px )
  .container
    .col-6
      width 100%
    .image
      display none
    .text
      padding 40px 40px 20px
      h1
        padding-left 0
        text-align center

  .furniture .col-4
    width 50%

  .furniture .row .col-4:last-of-type
    display none

  .about .company
    font-size 1rem
    h1
      font-size 1.4rem

  .about .companyImg img
    width 100%

  footer h4
    font-size 0.9rem

@media screen and ( max-width 520px )
  .about .col-4, .about .col-8
    width 100%
    margin-bottom 40px

  .about
    padding-left 30px
    .companyImg img
      width 90%

  footer .col-6
    width 100%

  footer .col-12
    padding-left 0
    .col-2
      width 25%
      img
        width 40%
        float right

  footer .col-12 .col-10
    width 75%
    padding-left 20px

  footer .col-6 .col-4 a
    width 60%
    float none
    padding-left 35px
    margin-top 10px

@media screen and ( max-width 480px )
  .furniture .col-4
    width 100%

  .furniture .row .col-4:nth-of-type(2)
    display none

  .furnitureImg img
    height 50%

@media screen and ( max-width 400px )
  footer .col-12
    padding-right 40px

@media screen and ( max-width 380px )
  .about .companyImg img
    width 100%

  footer .col-12 .col-2 img
    float none

  footer .col-12 .col-10
    padding-left 0
